<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDdCQmKD1kWZYGmq4Kj3uTVcN6z0M4_tjk</string>
	<key>GCM_SENDER_ID</key>
	<string>457361704496</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ceddit</string>
	<key>PROJECT_ID</key>
	<string>ceddit-de982</string>
	<key>STORAGE_BUCKET</key>
	<string>ceddit-de982.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:457361704496:ios:24bb00498aae880f7c8ff5</string>
</dict>
</plist>